@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.title-font {
  font-family: 'Zen Tokyo Zoo', cursive;
}

.text-xl {
  font-size: 4rem;
}


.question {
  &:hover{
    .answer {
      opacity: 1;
    }
  }
  .answer {
    opacity: 0;
    transition: all .3s linear
  }
}